In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("val_results.csv")
df[:1]

,18k_correct,18k_preds,700k_strong_correct,700k_strong_preds,9k_correct,9k_preds,cnn_lstm_sa_mlp_correct,cnn_lstm_sa_mlp_preds,cnn_lstm_sa_correct,cnn_lstm_sa_preds,cnn_lstm_correct,cnn_lstm_preds,lstm_correct,lstm_preds,image_index,question_index,question_family_index,answer,question,image_filename
0,1,24,1,24,1,24,1,24,1,24,1,24,0,31,0,0,39,no,Are there any other things that are the same s...,CLEVR_val_000000.png

In [26]:
preds = ['18k_preds', 
         '700k_strong_preds', 
         '9k_preds', 
         'cnn_lstm_sa_mlp_preds', 
         'cnn_lstm_sa_preds',
         'cnn_lstm_preds', 
         'lstm_preds']
answer_types = df["answer"].drop_duplicates().reset_index()
answer_dictionary = pd.DataFrame(answer_types, columns = ["answer", "number"])
answer_dictionary["number"] = ""
for i in range(answer_dictionary.shape[0]):
    a = answer_dictionary.loc[i, "answer"]
    answer_df = df[(df["answer"] == a) & (df['18k_correct'] == 1)].reset_index()
    if answer_df.shape[0] >0 :
        number = answer_df.loc[0, '18k_preds']
        answer_dictionary.at[i, "number"] = number
    else:
        answer_df = df[(df["answer"] == a) & (df['700k_strong_correct'] == 1)].reset_index()
        if answer_df.shape[0] >0 :
            number = answer_df.loc[0, '700k_strong_preds']
            answer_dictionary.at[i, "number"] = number
            
print(answer_dictionary)
answer_dictionary = answer_dictionary.sort_values(by = "number")

df["answer_index"] = ""
for i in range(answer_dictionary.shape[0]):
    df.at[i, "answer_index"] = answer_dictionary[answer_dictionary["answer"] == df.loc[i, "answer"]]["number"].values[0]

      answer number
0         no     24
1        yes     31
2      metal     23
3          2      7
4     purple     25
5     rubber     27
6       cyan     18
7          6     11
8          0      4
9      brown     16
10    sphere     29
11         1      5
12    yellow     30
13         3      8
14       red     26
15  cylinder     19
16      cube     17
17     large     22
18      blue     15
19         5     10
20      gray     20
21     small     28
22     green     21
23         4      9
24         7     12
25         8     13
26         9     14
27        10      6

In [27]:
df.to_csv("val_results.csv", index = False)

,18k_correct,18k_preds,700k_strong_correct,700k_strong_preds,9k_correct,9k_preds,cnn_lstm_sa_mlp_correct,cnn_lstm_sa_mlp_preds,cnn_lstm_sa_correct,cnn_lstm_sa_preds,...,cnn_lstm_preds,lstm_correct,lstm_preds,image_index,question_index,question_family_index,answer,question,image_filename,answer_index
0,1,24,1,24,1,24,1,24,1,24,...,24,0,31,0,0,39,no,Are there any other things that are the same s...,CLEVR_val_000000.png,24
1,1,31,1,31,1,31,0,24,0,24,...,24,0,24,0,1,47,yes,Is there a big brown object of the same shape ...,CLEVR_val_000000.png,31
2,1,23,1,23,1,23,1,23,1,23,...,23,1,23,0,2,87,metal,What is the material of the big purple object?,CLEVR_val_000000.png,23
3,1,31,1,31,1,31,0,24,1,31,...,24,1,31,0,3,73,yes,There is a small gray block; are there any sph...,CLEVR_val_000000.png,31
4,1,24,1,24,1,24,1,24,1,24,...,24,1,24,0,4,12,no,Is the purple thing the same shape as the larg...,CLEVR_val_000000.png,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149986,1,23,1,23,1,23,1,23,1,23,...,23,1,23,14999,149986,56,metal,There is a object that is the same color as th...,CLEVR_val_014999.png,
149987,1,27,1,27,1,27,1,27,1,27,...,27,0,23,14999,149987,53,rubber,There is a brown ball that is the same size as...,CLEVR_val_014999.png,
149988,1,31,1,31,1,31,1,31,0,24,...,31,1,31,14999,149988,45,yes,Are there any tiny objects that have the same ...,CLEVR_val_014999.png,
149989,1,29,1,29,1,29,0,17,1,29,...,29,0,17,14999,149989,35,sphere,There is a small object that is both on the ri...,CLEVR_val_014999.png,
149990,1,4,1,4,1,4,1,4,1,4,...,4,0,5,14999,149990,50,0,What number of large cubes have the same mater...,CLEVR_val_014999.png,

In [ ]:
fig, ax = plt.subplots()
ax.set_xlabel('Idő [évek]')
ax.set_ylabel('Fogyasztás [m3]')
plt.title('Fogyasztás változása az évek során')

def format_func(value, tick_number):
    return str("{:,}".format(value))[:-2].replace(",", ".")
ax.yaxis.set_major_formatter(plt.FuncFormatter(format_func))

artists= []

for i in range(data.shape[0]):
    art = plt.plot(["2015", "2016", "2017", "2018"], data.loc[i, ['FOGYASZTAS_2015', 'FOGYASZTAS_2016', 'FOGYASZTAS_2017', 'FOGYASZTAS_2018']], label = str(data.loc[i, 'UP_TH']))
    artists.append(art)
    
plt.legend(title='Cégek (UP_TH):', loc="lower left", bbox_to_anchor=(1, -0.2))

fig.savefig("fogyasztas_valtozasa_az_evek_soran2.png", bbox_inches= "tight")
plt.show()

print(np.sort(data["FOGYASZTAS_2018"]))